.about-us {
   border-radius: 8px;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(150, 70, 70, 0.1),
      4px 4px 5px 0px rgba(255, 255, 255, 0.1);
   background: linear-gradient(0deg, #2a2130 0%, #4e3c57 100%);
   border: none;
   outline: none;
   padding: 16px 8px 16px 8px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
}

.about-us-title {
   flex: 1;
   align-self: center;
}

.about-us-description {
   margin: 16px 32px 16px 32px;
   text-align: center;
}

.product-container {
   border-radius: 8px;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(150, 70, 70, 0.1),
      4px 4px 5px 0px rgba(255, 255, 255, 0.1);
   background: linear-gradient(0deg, #2a2130 0%, #4e3c57 100%);
   border: none;
   padding: 16px 8px 16px 8px;
   outline: none;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
}

.product-navbar {
   border-radius: 8px;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(150, 70, 70, 0.1),
      4px 4px 5px 0px rgba(255, 255, 255, 0.1);
   background: linear-gradient(0deg, #2a2130 0%, #4e3c57 100%);
   border: none;
   padding: 16px 8px 16px 8px;
   outline: none;

   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
}

.sale {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
   flex: 1;
}

.product-list-container {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: wrap;
   align-content: center;
   gap: 8px;
   margin: 16px 8px 16px 8px;
}

.product {
   border-radius: 8px;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(150, 70, 70, 0.1),
      4px 4px 5px 0px rgba(255, 255, 255, 0.1);
   background: linear-gradient(0deg, #2a2130 0%, #4e3c57 100%);
   border: none;
   outline: none;
   padding: 16px 8px 16px 8px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
   flex: 1;
   align-self: center;
}

.product-sale {
   color: black;
   background-color: rgba(0, 0, 0, 0.204);
   font-weight: 1000;
}

.product-name {
   flex: 1;
   align-self: center;
}

.product-image-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
   flex: 1;
   align-self: center;
   position: relative;
}

.product-image {
   width: 240px;
   height: 240px;
}

.product-image-sale {
   position: absolute;
   top: 50%;
}

.product-price {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 0px 16px 0px 16px;
}

.product-price-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
}

.bigbutton.add-product-button {
   width: 7em;
   height: auto;
   flex: 1;
   align-self: center;
}

.contact {
   border-radius: 8px;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(150, 70, 70, 0.1),
      4px 4px 5px 0px rgba(255, 255, 255, 0.1);
   background: linear-gradient(0deg, #2a2130 0%, #4e3c57 100%);
   border: none;
   outline: none;
   padding: 16px 8px 16px 8px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: normal;
   flex-wrap: nowrap;
   align-content: normal;
   gap: 8px;
   margin: 16px 8px 16px 8px;
}
